@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@tailwind components;
@tailwind base;
@tailwind utilities;
/* You can add global styles to this file, and also import other style files */


@layer base {
  html {
    @apply bg-a-bg;
  }
  a {
  border: transparent 1px solid;
  }
}

nav a.active {
  @apply text-orange-900 bg-a-bg;
  text-decoration: none;
  padding: 0px 0.5rem;
}

nav a {
  text-decoration: none;
  padding: 0px 0.5rem;
}

.status {
  @apply bg-neutral-300;
}

.PLANNED {
  @apply bg-neutral-300;
}

.ONGOING {
  @apply bg-orange-200;
}

.DONE {
  @apply bg-green-200;
}

button {
  @apply border border-neutral-200 border-2 p-1 bg-neutral-100;
}

.drop {
  @apply border border-black;
}
