@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@tailwind components;
@tailwind base;
@tailwind utilities;
/* You can add global styles to this file, and also import other style files */


@layer base {
  html {
    @apply bg-a-bg;
  }
  a {
  border: transparent 1px solid;
  }
}

nav a.active {
  @apply text-orange-900 bg-a-bg;
  text-decoration: none;
  padding: 0px 0.5rem;
}

nav a {
  text-decoration: none;
  padding: 0px 0.5rem;
}
