@tailwind components;
@tailwind base;
@tailwind utilities;
/* You can add global styles to this file, and also import other style files */

@layer base {
  html {
    @apply bg-cyan-100;
  }
  a {
    @apply underline;
  border: transparent 1px solid;
  padding: 0px 0.5rem;
  }
}

nav a.active {
  text-decoration: none;
  border-top: 1px solid;
  padding: 0px 0.5rem;
}
